Dephi/LccThrottleApp/Win64
Dephi/LccThrottleApp/OSX64
Dephi/MyFirst/OSX64
Dephi/MyFirst/Win64
Target-PC/backup
Target-PC/HardwareConnection/backup
Target-PC/HardwareConnection/Indy_Lcc/Core/backup
Target-Common/backup
Target-Common/Protocols
Lazarus/MyFirst/backup
Lazarus/MyFirst/lib
Lazarus/MyFirst/Compiled_Binaries
LccThrottleApp.dproj.local
TabbedApplication.dproj.local
Lazarus/MustangpeakDualController/backup
Lazarus/MustangpeakDualController/Compiled_Binaries
Lazarus/MustangpeakDualController/lib
Lazarus/MustangpeakTrainCommander/backup
Lazarus/MustangpeakTrainCommander/Compiled_Binaries
Lazarus/MustangpeakTrainCommander/lib
project1
Dephi/LccThrottleApp/iOSDevice64
Lazarus/MustangpeakTrainController/lib
Lazarus/MustangpeakTrainController/backup
Dephi/LccThrottleApp/Android
Dephi/LccThrottleApp/Android64
Dephi/LccThrottleApp/Linux64
Lazarus/MustangpeakTrainController/Compiled_Binaries
Lazarus/CDI_Parser/backup
Lazarus/CDI_Parser/lib
Lazarus/CDI_Parser/Compiled_Binaries
Dephi/CDI_Parser/Win32
cdi_parser.~dsk
cdi_parser.identcache
cdi_parser.dsk
cdi_parser.dproj.local
LccThrottleApp.~dsk
Target-PC/__recovery
Dephi/CDI_Parser/Linux64
Dephi/CDI_Parser/OSX64
Dephi/CDI_Parser/Win64
Dephi/FMX_UserInterfaces/Win64
Dephi/FMX_UserInterfaces/OSX64
Dephi/LccOpenPascalProjectGroup.groupproj.local
Dephi/LccOpenPascalProjectGroup.~dsk
Dephi/LccThrottleApp/iOSSimARM64/Debug/FormLccThrottleApp.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/FormLccThrottleApp.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdAntiFreezeBase.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdAntiFreezeBase.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdAssignedNumbers.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdAssignedNumbers.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdBaseComponent.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdBaseComponent.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdBuffer.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdBuffer.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdComponent.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdComponent.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdContext.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdContext.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdCTypes.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdCTypes.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdCustomTCPServer.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdCustomTCPServer.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdCustomTransparentProxy.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdCustomTransparentProxy.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdException.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdException.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdExceptionCore.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdExceptionCore.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdGlobal.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdGlobal.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdGlobalCore.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdGlobalCore.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIntercept.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIntercept.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIOHandler.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIOHandler.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIOHandlerSocket.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIOHandlerSocket.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIOHandlerStack.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIOHandlerStack.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIPAddress.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIPAddress.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIPWatch.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdIPWatch.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdReply.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdReply.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdReplyRFC.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdReplyRFC.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdResourceStrings.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdResourceStrings.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdResourceStringsCore.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdResourceStringsCore.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdResourceStringsUnix.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdResourceStringsUnix.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdResourceStringsVCLPosix.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdResourceStringsVCLPosix.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdScheduler.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdScheduler.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdSchedulerOfThread.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdSchedulerOfThread.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdSchedulerOfThreadDefault.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdSchedulerOfThreadDefault.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdServerIOHandler.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdServerIOHandler.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdServerIOHandlerSocket.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdServerIOHandlerSocket.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdServerIOHandlerStack.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdServerIOHandlerStack.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdSocketHandle.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdSocketHandle.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdSocks.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdSocks.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStack.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStack.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStackBSDBase.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStackBSDBase.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStackConsts.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStackConsts.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStackVCLPosix.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStackVCLPosix.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStream.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStream.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStreamVCL.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdStreamVCL.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdTask.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdTask.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdTCPClient.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdTCPClient.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdTCPConnection.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdTCPConnection.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdTCPServer.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdTCPServer.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdThread.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdThread.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdThreadComponent.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdThreadComponent.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdThreadSafe.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdThreadSafe.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdVCLPosixSupplemental.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdVCLPosixSupplemental.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdYarn.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/IdYarn.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_alias_server.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_alias_server.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_app_common_settings.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_app_common_settings.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_base_classes.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_base_classes.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_cdi_parser.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_cdi_parser.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_common_classes.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_common_classes.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_defines.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_defines.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_ethernet_client.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_ethernet_client.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_ethernet_common.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_ethernet_common.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_ethernet_server.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_ethernet_server.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_ethernet_tcp.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_ethernet_tcp.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_gridconnect.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_gridconnect.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_listener_tree.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_listener_tree.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_math_float16.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_math_float16.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_controller.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_controller.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_manager.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_manager.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_messages.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_messages.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_messages_can_assembler_disassembler.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_messages_can_assembler_disassembler.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_traindatabase.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_node_traindatabase.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_protocol_utilities.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_protocol_utilities.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_threaded_circulararray.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_threaded_circulararray.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_threaded_stringlist.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_threaded_stringlist.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_train_server.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_train_server.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_utilities.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_utilities.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_xmlutilities.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/lcc_xmlutilities.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.dSYM
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.entitlements
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.info.plist
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.API.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.API.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.FMX.Canvas.GL.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.FMX.Canvas.GL.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.FMX.Canvas.Metal.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.FMX.Canvas.Metal.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.FMX.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.FMX.Graphics.dcu
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.FMX.Graphics.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.FMX.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/Skia.o
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.launchscreen/LaunchScreen.storyboard
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.launchscreen/Assets/Contents.json
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.launchscreen/Assets/AppIcon.appiconset/Contents.json
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.launchscreen/Assets/LaunchScreenBackgroundColor.colorset/Contents.json
Dephi/LccThrottleApp/iOSSimARM64/Debug/LccThrottleApp.launchscreen/Assets/LaunchScreenImage.imageset/Contents.json
Dephi/LccThrottleApp/__history/FormLccThrottleApp.fmx.~1~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.fmx.~2~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.fmx.~3~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.fmx.~4~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.pas.~1~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.pas.~2~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.pas.~3~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.pas.~4~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.pas.~5~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.pas.~6~
Target-Common/__history/lcc_defines.pas.~1~
Target-Common/__history/lcc_node.pas.~1~
Target-Common/__history/lcc_node.pas.~2~
Target-Common/__history/lcc_node.pas.~3~
Target-Common/__history/lcc_node.pas.~4~
Target-Common/__history/lcc_node.pas.~5~
Target-Common/__history/lcc_node_messages.pas.~1~
Target-Common/__history/lcc_node_messages.pas.~2~
Target-Common/__history/lcc_protocol_utilities.pas.~1~
Target-Common/__history/lcc_utilities.pas.~1~
Target-Common/__history/lcc_utilities.pas.~2~
Target-PC/__history/lcc_cdi_parser.pas.~1~
Target-PC/__history/lcc_cdi_parser.pas.~2~
Target-PC/__history/lcc_cdi_parser.pas.~3~
Dephi/LccThrottleApp/__history/FormLccThrottleApp.fmx.~5~
Dephi/FMX_UserInterfaces/OSXARM64/Debug/FMX_UserInterfaceApp.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/FMX_UserInterfaceApp.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/FMX_UserInterfaces
Dephi/FMX_UserInterfaces/OSXARM64/Debug/FMX_UserInterfaces.dSYM
Dephi/FMX_UserInterfaces/OSXARM64/Debug/FMX_UserInterfaces.entitlements
Dephi/FMX_UserInterfaces/OSXARM64/Debug/FMX_UserInterfaces.info.plist
Dephi/FMX_UserInterfaces/OSXARM64/Debug/FMX_UserInterfaces.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Frame_LccNodeEditor.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Frame_LccNodeEditor.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Frame_LccNodeEditorControl.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Frame_LccNodeEditorControl.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Frame_LccNodeEditorGroup.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Frame_LccNodeEditorGroup.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.API.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.API.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.FMX.Canvas.GL.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.FMX.Canvas.GL.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.FMX.Canvas.Metal.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.FMX.Canvas.Metal.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.FMX.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.FMX.Graphics.dcu
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.FMX.Graphics.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.FMX.o
Dephi/FMX_UserInterfaces/OSXARM64/Debug/Skia.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaceApp.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaceApp.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.dSYM
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.entitlements
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.info.plist
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Frame_LccNodeEditor.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Frame_LccNodeEditor.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Frame_LccNodeEditorControl.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Frame_LccNodeEditorControl.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Frame_LccNodeEditorGroup.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Frame_LccNodeEditorGroup.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.API.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.API.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.FMX.Canvas.GL.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.FMX.Canvas.GL.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.FMX.Canvas.Metal.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.FMX.Canvas.Metal.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.FMX.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.FMX.Graphics.dcu
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.FMX.Graphics.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.FMX.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/Skia.o
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.launchscreen/LaunchScreen.storyboard
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.launchscreen/Assets/Contents.json
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.launchscreen/Assets/AppIcon.appiconset/Contents.json
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.launchscreen/Assets/LaunchScreenBackgroundColor.colorset/Contents.json
Dephi/FMX_UserInterfaces/iOSSimARM64/Debug/FMX_UserInterfaces.launchscreen/Assets/LaunchScreenImage.imageset/Contents.json
Dephi/FMX_UserInterfaces/FMX_UserInterfaces.dproj.local
Dephi/CDI_Parser_MultiDevice/Win64/Debug/Cdi_Parser.dcu
Dephi/CDI_Parser_MultiDevice/Win64/Debug/CdiParserMultiDevice.exe
Dephi/CDI_Parser_MultiDevice/Win64/Debug/CdiParserMultiDevice.rsm
Dephi/CDI_Parser_MultiDevice/Win64/Debug/lcc_alias_server.dcu
Dephi/CDI_Parser_MultiDevice/Win64/Debug/lcc_base_classes.dcu
Dephi/CDI_Parser_MultiDevice/Win64/Debug/lcc_cdi_xml_reader.dcu
Dephi/CDI_Parser_MultiDevice/Win64/Debug/lcc_defines.dcu
Dephi/CDI_Parser_MultiDevice/Win64/Debug/lcc_math_float16.dcu
Dephi/CDI_Parser_MultiDevice/Win64/Debug/lcc_node_messages.dcu
Dephi/CDI_Parser_MultiDevice/Win64/Debug/lcc_utilities.dcu
Dephi/CDI_Parser_MultiDevice/Win64/Debug/lcc_xmlutilities.dcu
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.fmx.~1~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.fmx.~2~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.fmx.~3~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.fmx.~4~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~10~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~11~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~12~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~13~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~14~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~15~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~16~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~7~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~8~
Dephi/CDI_Parser_MultiDevice/__history/Cdi_Parser.pas.~9~
Dephi/CDI_Parser_MultiDevice/__history/CdiParserMultiDevice.dpr.~1~
Dephi/CDI_Parser_MultiDevice/__history/CdiParserMultiDevice.dpr.~2~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~140~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~141~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~142~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~143~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~144~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~145~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~146~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~147~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~148~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~149~
Dephi/CDI_Parser_MultiDevice/__history/lcc_cdi_xml_reader.pas.~150~
Dephi/CDI_Parser_MultiDevice/CdiParserMultiDevice.dproj.local
Target-PC/__history/lcc_cdi_parser.pas.~4~
Target-PC/__history/lcc_xmlutilities.pas.~1~
Target-PC/HardwareConnection/__history/lcc_ethernet_client.pas.~1~
Target-PC/HardwareConnection/__history/lcc_ethernet_client.pas.~2~
Target-PC/HardwareConnection/__history/lcc_ethernet_client.pas.~3~
